* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    width: 100vw;
    line-height: 10vh;
    background-color: #180c3f;
}

ul {
    list-style-type: none;
    display: inline;
    float: left;
}

li {
    float: left;
}

#disabled {
    pointer-events: none;
    color: rgba(151, 140, 140, 0.8);
}

h1  {
    color: aliceblue;
    font-size: xx-large;
    margin-left: 2vw;
    float: left;
    padding-right: 4vw;
}

a {
    font-size: 1.5em;
    padding-right: 4vw;
    text-decoration: none;
    color: aliceblue;
}

.right-side {
    margin-right: 2vw;
    float: right;
}

input[type="text"] {
    width: 18vw;
    height: 4vh;
}

button {
    font-size: 2.6vh;
}

button:hover {
    background-color: green;
    color: white;
    transition: all 100ms;
}

/* Hamburger Symbol */
.fa-solid {
    padding-top: 2vh;
    padding-right: 2vw;
    float: right;
    color: aliceblue;
    font-size: 2em;
    visibility: hidden;
}

/* ////////////////////////////////////////////////////////// */

@media (max-width: 768px) {
    .fa-solid {
        padding-top: 3vh;
        padding-right: 5vw;
        float: right;
        color: aliceblue;
        font-size: 2.4em;
        visibility: visible;
    }

    ul, li, input, button {
        display: none;
        visibility: hidden;
    }
}