* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 3%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 20%;
    border-radius: 2%;
}

img {
    width: 100%;
    border-radius: 2% 2% 0 0;
}

h2{
    padding: 3% 0 0 3%;
}

p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3%;
    font-size: 1.1rem;
}

#card-links {
    margin: 3%;
}

a {
    font-size: 1.1rem;
    color: blue;
    margin-right: 4%;
}