.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 40vh 20vh;
    grid-template-areas: 
    "_green _green _green"
    "_yellow _red _blue"
    "_orange _orange _blue";
}


#green {
    grid-area: _green;
  }
  
  #orange {
    grid-area: _orange;
  }
  
  #yellow {
    grid-area: _yellow;
  }
  
  #red {
    grid-area: _red;
  }
  
  #blue {
    grid-area: _blue;
  }

  #yellow > ul, #red > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }