@use "my_module.scss" as mm;
@use "my_function.scss" as f;
@use "sass:color";

@mixin article_style ($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: mm.$main_border;
    border-color: $border-color;
    font-size: $font-size;
    padding: f.pxToRem(16);
}

.container {
    border: mm.$main_border black;
    padding: f.pxToRem(16);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .heading {
        color: mm.$primary;
        border-bottom: 1px solid mm.$secondary;
        &--second {
            @extend .heading;
            padding: f.pxToRem(16);
            border: 2px solid mm.$tertiary;
        }
    }

    .first-section {
        display: flex;
        justify-content: center;

        article {
            &:nth-child(odd) {
              @include article_style(mm.$secondary, mm.$primary)
            }
            &:nth-child(even) {
                @include article_style(mm.$tertiary, mm.$primary)
            }
        }
       
    }
    
    $basecolor: #FFFFFF;
    $textcolor: #000000;
    .squares {
        display: flex;
        padding-top: f.pxToRem(16);
        width: 100%;
        justify-content: space-between;
    }
    @for $var from 1 through 20 {
        .squares div:nth-child(#{$var}) {
            border: 1px solid red;
            width: 45px;
            height: 45px; 
            background-color: darken($basecolor, $var * 5%);
            color: lighten($textcolor, $var * 5%);

            @if $var == 10 {
                background-color: blue;
                color: red;
            }
        }
        
    }

    $font-size: 1rem 2rem 3rem;
    @each $size in $font-size {
        .fs-#{$size} {
            font-size: $size;
        }
    }
    
    .second-section {
        padding: f.pxToRem(16);
        display: flex;
        width: 100%;
        article {
            width: 100%;
            @include article_style(mm.$primary, mm.$secondary, f.pxToRem(28))
        }
    }
}
